.rd3t-node {
   
    fill: rgb(154,77,1) !important;
    
}
.wordtune-suggestions-container-block {
    border: 0 !important;
  }
  
  [wordtune-suggestions-container-block] {
    border: 0 !important; }
  

.rd3t-leaf-node {
 
    fill: rgb(18,155,18) !important;
   
}

.rd3t-link {
    fill: none;
    stroke:  rgb(126, 64, 3) !important;
}
svg {
    height: 300%;
    width: 85vw;
}
.inputebox{
    height: 35px;
    border-radius: 5px;
    
}
.textarea_:focus {
    outline: 0px solid ;
  }
.inputebutton{
    color: white;
    background-color: rgb(154,77,1);
    height: 40px !important;
}
.inputebutton:hover{
    background-color: rgb(214, 149, 84);
    cursor: pointer;
}

.inpute {
    height: 54px !important;
    padding: 3px !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
}

.button-68 {
    appearance: none;
    backface-visibility: hidden;
    background-color: rgb(9, 124, 9);
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button-68:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button-68:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.button-68:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}